<template>
  <div>
    <v-simple-table>
      <thead>
      <tr>
        <th>Produit</th>
        <th>prix unitaire</th>
        <th>qty</th>
        <th>total</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="line in cart.orderLines">
        <td>{{ line.product.name }}</td>
        <td>{{ line.product.price }}€</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.total }}€</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>Total panier:</td>
        <td>{{ cart.total }}€</td>
      </tr>
      </tfoot>
    </v-simple-table>
    <v-btn color="success" @click="validateCart">Valider</v-btn>


    <v-snackbar
      v-model="snackbar"
    >
      Merci de votre commande
      <v-btn
        color="success"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Cart',
  data() {
    return {
      cart: {},
      snackbar: false
    };
  },
  methods: {
    async fetchCart() {
      const response = await axios.get('/api/get-cart');
      this.cart = response.data;
    },
    async validateCart(){
      await axios.put("/api/confirm-cart")
      this.snackbar = true
      setTimeout(()=>{
        this.$router.push({name: "home"})
      }, 5000)
    }
  },
  mounted() {
    if (!this.$store.getters.isConnected) {
      this.$router.push({ name: 'connection' });
    }
    this.fetchCart();
  },
};
</script>

<style scoped>

</style>
