<template>
  <v-card class="mx-auto">
    <v-toolbar
      color="primary"
      dark
      flat
    >
      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-form>
        <v-text-field v-model="username" label="Email" type="email"/>
        <v-text-field v-model="password" label="Password" type="password"/>
        <v-btn @click="login" color="primary" small >Login</v-btn>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import axios from "axios"
export default {
  name: 'Connection',
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async login() {
      const response = await axios.post("/api/login_check", {
        username: this.username,
        password: this.password
      })
      this.$store.commit("setToken", response.data.token)
      this.$router.push({name: "home"})
    },
  },
};
</script>

<style scoped>

</style>
