<template>
    <v-row>
      <v-col>
        <h1>{{product.name}}</h1>
        <v-select v-model="quantity" :items="quantityOptions"></v-select>
        <v-btn color="success" @click="addToCart">Acheter</v-btn>
        <p v-html="product.description"/>
        <p>{{product.price}}€</p>
        <v-img
          style="width: 400px"
          :src="imageSource"
        />
      </v-col>
      <v-snackbar
        v-model="snackbar"
      >
        Produit ajouté au panier
          <v-btn
            color="success"
            text
            @click="snackbar = false"
          >
            Close
          </v-btn>
      </v-snackbar>
    </v-row>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ProductPage',
  data() {
    return {
      product: {},
      quantity: 1,
      snackbar:false
    };
  },
  methods: {
    async fetchProduct() {
      const productId = this.$route.params.id
      const response = await axios.get("/api/products/"+productId)
      this.product = response.data
    },
    async addToCart(){
      await axios.put("/api/add-to-cart", {
        product: this.product.id,
        quantity: this.quantity,
      })
      this.snackbar = true
    }
  },
  computed: {
    imageSource() {
      return process.env.VUE_APP_API_URL+"/uploads/"+this.product.imageSrc;
    },
    quantityOptions(){
      const options = []
      for(let i = 1; i <= this.product.stock; i++){
          options.push(i)
      }
      return options
    }
  },



};
</script>

<style scoped>

</style>
